ul.tags {
    margin-top: 5px;
}

.uk-panel.tile h2,  .uk-panel.tile p {
    margin-top: 0;
    margin-bottom: 0;
}

.uk-panel.tile .uk-panel-teaser {
    margin-bottom: 5px;
}

.uk-navbar-nav a,
.uk-navbar-nav i,
.uk-navbar-nav li,
.uk-navbar-nav > li > a[href="#"],
.news {
    cursor: pointer;
}

.news {
    width: 315px;
}

.news img {
    margin: 15px 15px 0;
}



.news.already-read h2 {
    color: lightgray;
}

.news.already-read .uk-panel-box {
    background-color: transparent;
}

.news.already-read .link-external {
    color: lightblue;
}