<!-- extends from base layout -->
{% extends "base.html" %}


{% block uk_navbar %}
    <ul class="uk-navbar-nav">
        <li><a href="#modal-subscribe" title="Add feed" data-uk-modal><i class="uk-icon-rss"></i></a></li>
        <li><a href="#" title="Refresh feeds"><i class="uk-icon-refresh"></i></a></li>
        <li><a id="mark-as-read" href="#" title="Mark as read"><i class="uk-icon-check-square-o"></i></a></li>
    </ul>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav uk-hidden-small">
            <li><a href="#modal-settings" title="Settings" data-uk-modal><i class="uk-icon-cog"></i></a></li>
            <li><a href="{{ url_for('sign_out') }}" title="Sign out"><i class="uk-icon-sign-in"></i></a></li>
        </ul>
    </div>
    <div id="tagMarker" class="uk-navbar-content uk-navbar-center uk-hidden-small">All</div>
{% endblock %}
{% block uk_subnav %}
    <ul class="uk-subnav uk-subnav-pill uk-flex-center tags">
        <li data-uk-filter="" class="uk-active"><a href="#">All</a></li>
		{% for (tag, is_user_tag) in tags.items() %}
			{% if is_user_tag %}
				<li data-uk-filter={{tag}}><a href="#">{{ tag }}</a></li>
			{% endif %}
		{% endfor %}
    </ul>
	<hr>
{% endblock %}

{% block hamburger %}
	<div id="hamburger" class="uk-offcanvas">
	    <nav class="uk-offcanvas-bar">
	        <ul class="uk-nav uk-nav-offcanvas">
	            <li><a href="#modal-subscribe" title="Subscribe" data-uk-modal><i class="uk-icon-rss"></i> Subscribe</a></li>
	            <li><a href="#" title="Refresh feeds"><i class="uk-icon-refresh"></i> Refresh feeds</a></li>
	            <li><a href="#" title="Mark as read"><i class="uk-icon-check-square-o"> Mark as read</i></a></li>
	            <li class="uk-nav-divider"></li>
	            <li><a href="#modal-settings" title="Settings" data-uk-modal><i class="uk-icon-cog"></i> Settings</a></li>
	            <li><a href="{{ url_for('sign_out') }}" title="Sign out"><i class="uk-icon-sign-in"></i> Sign out</a></li>
	        </ul>
	    </nav>
	</div>
{% endblock %}

{% block articles %}


    <div id="news-list" data-uk-grid="{controls: 'ul.tags', gutter: 10}">
        <div id="no-news" class="uk-panel uk-panel-box uk-panel-box-secondary uk-width-medium-1-4 uk-container-center uk-text-center uk-hidden">
            <p>Current category has no unread items</p>
        </div>
		{% for tag in tags_and_articles.keys() %}
			{% for article in tags_and_articles[tag] %}	
        		<div class="news" data-uk-filter={{tag}} data-url="{{article.url}}">
        			<form id="mark-article" method="POST" action="{{ url_for('article_readed') }}">
						<div class="uk-panel uk-panel-box tile">
							<div class="uk-panel-teaser">
								{% if article.picture%}
								<img src={{article.picture}} alt="">
								{% endif %}
							</div>
							<article class="uk-article">
								<h2>{{article.head}}</h2>
								<div class="uk-article-meta uk-clearfix">
		                            <a class="link-external" href={{article.url}} target="blank">Read full article</a>
	                            	<time class="uk-float-right" datetime={{article.time.strftime('%Y-%m-%d %H:%M')}}>{{article.time.strftime('%d %b, %H:%M')}}</time>
								</div>
	                        	<!--p>TODO: Some lead</p-->
							</article>
						</div>
						<input type="text" name="article_id" value="{{article.id}}" hidden="True">
						<input type="submit">
					</form>
				</div>
			
			{% endfor %}
		{% endfor %}
	</div>	
{% endblock %}

{% block modal %}
    <section id="modal-settings" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header"><h2>Settings</h2></div>
            <form class="uk-form uk-form-horizontal" action="{{ url_for('settings') }}" method="post">
                <div class="uk-form-row">
                    <label class="uk-form-label" for="settings-language">Language</label>
                    <div class="uk-form-controls">
                        <select id="settings-language">
                            <option value="en">English</option>
                            <option value="pl">Polski</option>
                        </select>
                    </div>
                </div>
                <div class="uk-form-row">
                    <span class="uk-form-label">Tiles size</span>
                    <div class="uk-form-controls uk-forms-controls-text">
                        <label>
                            <input type="radio" name="settings-size" value="small"></input>
                            Small
                        </label>
                        <label>
                            <input type="radio" name="settings-size" value="regular" checked></input>
                            Regular
                        </label>
                        <label>
                            <input type="radio" name="settings-size" value="big"></input>
                            Big
                        </label>
                        <label>
                            <input type="radio" name="settings-size" value="mixied"></input>
                            Mixed
                        </label>
                    </div>
                </div>
            </form>
            
           
            <div class="uk-modal-footer uk-text-right">
                <button type="button" class="uk-button uk-modal-close">Cancel</button>
                <button type="button" class="uk-button uk-modal-close uk-button-primary" value="asf">Save</button>
            </div>
        </div>
    </section>

    <section id="modal-subscribe" class="uk-modal">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header"><h2>Choose tag</h2></div>
            	<form id="choose-tags" method="POST" action="{{ url_for('save_tags') }}">
					{% for (tag, bool) in tags.items() %}
						{% if bool %} 
			        		<div><p>{{ tag }}<input type="checkbox", name="{{ tag }}" value="True" checked></p></div>
			        	{% else %}
			        		<div><p>{{ tag }}<input type="checkbox", name="{{ tag }}" value="True"></p></div>
			        	{% endif %}
			        {% endfor %}
			        <input type="submit">
		            <div class="uk-modal-footer uk-text-right">
		                <button class="uk-button uk-modal-close uk-button-primary">Save</button>
		            </div>
	            </form>
   
            <div class="uk-modal-caption">Choose most interesting tags for you!</div>
        </div>
    </section>

    <section id="modal-article" class="uk-modal">
        <div class="uk-modal-dialog uk-modal-dialog-large">
            <h4>{ Title of an article }</h4>
            <div class="uk-overflow-container">
                <p>{ Content goes here }</p>
            </div>
    </section>
{% endblock %}
