<!-- extends from base layout -->
{% extends "base.html" %}

{% block content %}
	<div class="container">
        <div class="container-box">
			<h1>Sign Up</h1>
	
			{% for message in form.email.errors %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
	
			{% for message in form.password.errors %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
	
			<form action="{{ url_for('sign_up') }}" method='POST'>
				{{ form.hidden_tag() }}
			
				{{ form.email.label }}
				{{ form.email }}
		
				{{ form.nickname.label }}
				{{ form.nickname }}
		
				{{ form.password.label }}
				{{ form.password }}
		
				{{ form.submit }}
			</form>
	
		</div>
	</div>
{% endblock %}